<%= devise_error_messages! %>

<div class="row">
  <div class="col-sm-5">
    <div class="well">
      
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <legend>Edit User</legend>

  <%= f.input :current_password, hint: 'Enter current password to save changes' %>
  <hr/>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :netID, label: 'NetID' %>

  <%= f.input :password, label: 'New password', hint:'Leave blank if you don\'t want to change it' %>
  <%= f.input :password, label: 'Confirm new password', hint:'Leave blank if you don\'t want to change it' %>
  
  <div class="actions">
    <%= f.button :submit, label: 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>

<hr/>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

</div>
</div>
</div>
