
<%= simple_form_for(@listing, html: {class: 'form-vertical'}) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.input :title, placeholder: 'Data Structures and Algorithms'%>
  <%= f.input :edition, placeholder: '1st, 2nd, 3rd, etc.' %>
  <%= f.input :ISBN, placeholder: 'xxxxxxxxx-x' %>
  <%= f.input :price, placeholder: 'Don\'t include $', as: :string %>
  <%= f.input :description, placeholder: "Damage, comments, registration codes, etc." %>
  <%= f.input :condition, :collection => Condition::HASH_STATE.sort.map {|k,v| [v,v]}, prompt: 'Choose:'  %>
  <div class="actions">
    <%= f.button :submit, class: "btn btn-success" %><hr/>
  </div>
<% end %>
